.root{
    -grey-color: #54595D;
    -blue-color: #466075;
    -light-blue-color: #658AA8;
}

.jfx-button {
     -jfx-button-type: FLAT;
     -fx-background-color: -blue-color;
     -fx-text-fill: white;
     -fx-background-radius: 0;
}

.jfx-button: focused {
     -fx-background-color: -grey-color;
     -fx-border-width: 0px 4px 0px 0px;
     -fx-border-color:  -blue-color;
}

.glyph-icon{
    -fx-fill: white;
}

.label{
    -fx-padding: 0 0 0 0;
    -fx-text-fill: white;
}


